.card {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(17, 17, 17, 0.95);
  padding: 1rem;
  border: 0.0625rem solid #ffffff1a;
  border-radius: 0.625em;
  z-index: 2;
}

.bg_blur_wraper {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_blur {
  width: 65%;
  height: 65%;
  /* background-color: #48addf; */
  background-color: #a84ddf;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.8;
}

.bg_line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgb(22, 22, 22);
  background: linear-gradient(
    90deg,
    rgba(22, 22, 22, 1) 9%,
    rgba(168, 77, 223, 1) 39%,
    rgba(168, 77, 223, 1) 55%,
    rgba(22, 22, 22, 1) 91%
  );
}
